/* Header */

.header {
	background-color: var(--color-bg-medium);


}

.header__wrapper {
	max-width: var(--layout-width);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 24px;
}

.header__login {
	display: flex;
	gap: 8px;
	align-items: center;
	font-family: "Fira Sans";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	color: var(--color-text);
	cursor: pointer;

}

.header__login:hover {
	color: var(--color-link-hover);
}

.header__mobile-menu-button {
	display: none;
	background: none;
	border: none;

}


@media(max-width:960px) {
	.header__login {
		display: none;
	}

	.header__mobile-menu-button {
		display: block;
	}
}

@media(max-width:640px) {
	.header__wrapper {
		padding: 30px 24px;
	}
}

@media(max-width:480px) {
	.header__wrapper {
		padding: 30px 24px;
	}

	.header__logo {
		max-width: 174px;
	}
}

/* Меню */

.menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 40px;
	margin: 0;
}

.menu__item {
	padding: 8px 16px;
}

.menu__item a {
	font-family: "Fira Sans";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	color: var(--color-text);
	cursor: pointer;
}

.menu__item:hover a {
	color: var(--color-link-hover);
}

.menu__item_active {
	border: 1px solid var(--color-stroke);
	border-radius: var(--border-8)
}

@media(max-width:960px) {
	.menu {
		display: none;
	}
}

/* Footer */
.footer {
	background-color: var(--color-footer);
}

.footer__wrapper {
	max-width: var(--layout-width);
	margin: 0 auto;
	padding: 60px 24px 100px;
}

.footer__social {
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;
}

.footer__menu {
	display: flex;
	gap: 80px;
	margin-bottom: 48px;
}

.footer__menu-header {
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: var(--color-secondary);
}

.menu-small {
	list-style: none;
	padding: 0;


}

.menu-small__item {
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	margin-bottom: 12px;
	color: var(--color-link-hover);
}

.menu-small__item a {
	margin-bottom: 12px;
	color: var(--color-text);
}

.menu-small__item a:hover {
	color: var(--color-link-hover);
}

.footer__copywrite {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--color-link-hover);
}